@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97.788% 0.004 56.375);
  --color-base-200: oklch(93.982% 0.007 61.449);
  --color-base-300: oklch(91.586% 0.006 53.44);
  --color-base-content: oklch(18.07% 0.053 264.4);
  --color-primary: oklch(80.35% 0.104 125.33);
  --color-primary-content: oklch(18.07% 0.053 264.4);
  --color-secondary: oklch(69.27% 0.042 169.77);
  --color-secondary-content: oklch(18.07% 0.053 264.4);
  --color-accent: oklch(90% 0.076 70.697);
  --color-accent-content: oklch(31.45% 0.071 63.602);
  --color-neutral: oklch(18.07% 0.053 264.4);
  --color-neutral-content: oklch(98.21% 0 0);
  --color-info: oklch(82% 0.111 230.318);
  --color-info-content: oklch(18.07% 0.053 264.4);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(18.07% 0.053 264.4);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(30.35% 0.063 82.45);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(18.07% 0.053 264.4);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}

.font-lora {
  font-family: "Lora", serif;
}

.font-space {
  font-family: "Space Mono", monospace;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-variant-ligatures: contextual;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
}
